.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn-dark, .btn-light, .btn-main {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #ffbc00;
}
.btn-light {
  color: #333;
  background-color: #f4f4f4;
}
.btn-dark {
  color: #fff;
  background-color: #333;
}

button[class^=btn-]:hover,
a[class^=btn-]:hover,
input[class^=btn-]:hover {
  background: #ffbc00;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  display: block;
  background-color: #ffbc00;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  display: block;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

ul {
  display: flex;
}

li {
  padding: 1rem 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
a:hover {
  border-color: #ccc;
}
a.current {
  border-color: #ffbc00;
}

#header-home {
  background: url("./img/IMG_6480.JPG") no-repeat 20% 40%/cover;
  height: 100vh;
  color: #fff;
}
#header-home .header-content {
  text-align: center;
  padding-top: 20%;
}
#header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}
#header-inner {
  background: url("./img/IMG_6480.JPG") no-repeat 20% 30%/cover;
  height: 5.5rem;
  border-bottom: 3px solid #ffbc00;
}

#home-a .specials {
  display: grid;
  margin-top: 2rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
#home-a .specials .fas {
  color: #ffbc00;
  padding-bottom: 0.4rem;
}
#home-b .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#home-b .stats p {
  line-height: 2;
}
#home-b .stats .icon-1 {
  background-color: #f4f4f4;
}
#home-b .stats .icon-2 {
  background-color: #ccc;
}
#home-b .stats .icon-3 {
  background-color: #f4f4f4;
}
#home-b .stats .icon-4 {
  background-color: #ccc;
}
#home-b .stats .stats-title {
  font-weight: bold;
  font-size: 1.5rem;
}
#home-b .stats .stats-number {
  font-weight: bold;
  font-size: 1.5rem;
}
#home-c .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
}
#home-c .process-step {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  background: #ffbc00;
  color: set-text-color(#ffbc00);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 15px;
  padding: 1rem;
  transition: all 1s;
}
#home-c .process-icon {
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  width: 70px;
  height: 70px;
  padding: 2rem;
  text-align: center;
  line-height: 70px;
  transition: all 1s;
  position: relative;
}
#home-c .process-icon:hover {
  background-color: #ffbc00;
  color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  cursor: pointer;
}
#home-c .process-icon:hover .process-step {
  background: #333;
}

#about-a {
  padding: 3rem 0;
}
#about-a .about-info {
  display: grid;
  margin: 1.5rem 0 1.5rem 0;
  grid-gap: 1.2rem;
  grid-template-areas: "about-image about-text about-text";
}
#about-a .about-image {
  grid-area: about-image;
}
#about-a .about-text {
  grid-area: about-text;
}
#about-a .about-text {
  background-color: #f4f4f4;
  border-left: 3px solid #ffbc00;
  line-height: 1.5rem;
  text-align: center;
  padding: 0.8rem;
  font-weight: 500;
}
#about-a .awards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  text-align: center;
}
#about-a .awards i {
  color: #ffbc00;
  margin: 1rem;
}
#about-b {
  background-color: #333;
}
#about-b h2,
#about-b h4 {
  color: #fff;
}
#about-b .progress {
  border-radius: 5px;
  background-color: #ccc;
  height: 20px;
  overflow: hidden;
  margin-bottom: 0.6rem;
}
#about-b .progress div {
  background: #ffbc00;
  height: 100%;
  color: #fff;
  text-align: center;
}
#about-c {
  background-color: #f4f4f4;
}
#about-c .about-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
#about-c .about-logos img {
  width: 70%;
}
#about-d .testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
#about-d .testimonials img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 0.5rem;
  float: left;
  margin-top: 0.5rem;
}
#about-d .testimonials span {
  float: left;
  padding: 1rem;
  margin-top: 0.5rem;
}
#about-d .testimonials p {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  border-radius: 5px;
}

#work-a .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
#work-a .item {
  position: relative;
  background: #ffbc00;
  overflow: hidden;
}
#work-a .item::after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
#work-a .item:hover::after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
#work-a .item:hover .item-image {
  transform: scale(1.2);
}
#work-a .item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
#work-a .item .item-image {
  height: auto;
  display: block;
  transform: translateZ(0);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
#work-a .item .item-image::before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
#work-a .item .item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}
#work-a .item .item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}
#work-a .item .item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
#work-a .item .item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}
#work-a .item .item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

#contact-a .text-fields {
  display: grid;
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
  grid-template-areas: "name email" "subject phone" "message message";
}
#contact-a .name-input {
  grid-area: name;
}
#contact-a .email-input {
  grid-area: email;
}
#contact-a .subject-input {
  grid-area: subject;
}
#contact-a .phone-input {
  grid-area: phone;
}
#contact-a .message-input {
  grid-area: message;
  height: 200px;
}
#contact-a .text-input {
  padding: 0.5rem 1rem;
}
#contact-a .text-input:focus {
  background-color: #ffbc00;
  color: #333;
}
#contact-a button[type=submit] {
  width: 50%;
}
#contact-b {
  background: #333;
  color: #fff;
}
#contact-b .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
}
#contact-b .border-bottom {
  width: 100%;
  color: #fff;
  height: 0.5rem;
  background-color: #ffbc00;
  margin-top: 1.7rem;
}

#main-footer {
  background-color: #333;
  height: 5rem;
  color: #fff;
}
#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}
#main-footer .footer-content .socials .fab {
  margin-right: 1rem;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 0.5rem;
  text-align: center;
  line-height: 20px;
  border: 2px solid #fff;
}
#main-footer .footer-content .socials .fab:hover {
  background-color: #ffbc00;
}

@media (max-width: 800px) {
  #header-home {
    height: 30rem;
  }
  #header-home .header-content {
    padding-top: 5rem;
  }
  #header-home .header-content h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;
  }
  #main-nav li {
    padding: 1rem;
  }
  #header-home {
    height: 10rem;
    border-bottom: 3px solid #ffbc00;
    background-position: 20% 30%;
  }
  #header-home .header-content {
    display: none;
  }
  #header-inner {
    height: 10rem;
  }
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #work-a .items,
  #contact-b .contact-info {
    grid-template-columns: 1fr;
  }
  #home-a .specials div {
    border-bottom: 1px #f4f4f4 solid;
    padding-bottom: 1rem;
  }
  #home-a .specials div:last-child {
    border: none;
    padding-bottom: 0;
  }
  #home-b .stats div {
    padding: 2rem 0 1rem 0;
  }
  #main-footer {
    height: 7rem;
  }
  #main-footer .footer-content {
    flex-direction: column;
    padding: 1rem;
    height: 5rem;
  }
  #about-a .about-info {
    grid-template-areas: "about-image" "about-text";
  }
  #about-a .awards {
    grid-template-columns: 1fr;
  }
  #about-c {
    display: none;
  }
  #contact-a .text-fields {
    grid-template-areas: "name" "subject" "email" "phone" "message";
  }
  #contact-b div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px #555 solid;
  }
  #contact-b div:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media (max-height: 580px) {
  #header-home .header-content {
    padding-top: 3rem;
  }
  #header-home .header-content h1 {
    font-size: 2.8rem;
  }
}/*# sourceMappingURL=main.css.map */